<div
    class="w-fit h-screen z-30 group fixed bg-gradient-to-r from-[#0f1014]/70 to-transparent hover:from-[#0f1014] hover:via-[#0f1014]/[85%] hover:to-transparent hover:pr-52 duration-500">
    <app-disney-logo></app-disney-logo>
    <div class="flex flex-col gap-10 justify-center h-[85vh] px-10 navList text-base">
        <div class="navItems" [routerLink]="'/'">
            <span>
                <img src="https://img1.hotstarext.com/image/upload/w_200,h_200,c_fill/feature/profile/3.png"
                    class="w-6 h-6 " alt="">
            </span>
            <button class="hidden group-hover:block">My Space</button>
        </div>
        <div class="navItems">
            <button>
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <button class="hidden group-hover:block">Search</button>
        </div>
        <div class="navItems">
            <button>
                <span class="material-symbols-outlined">
                    home
                </span>
            </button>
            <button class="hidden group-hover:block">Home</button>
        </div>
        <div class="navItems">
            <button>
                <span class="material-symbols-outlined">
                    tv
                </span>
            </button>
            <button class="hidden group-hover:block">TV</button>
        </div>
        <div class="navItems">
            <button>
                <span class="material-symbols-outlined">
                    movie
                </span>
            </button>
            <button class="hidden group-hover:block">Movies</button>
        </div>
        <div class="navItems">
            <button>
                <span class="material-symbols-outlined">
                    sports_baseball
                </span>
            </button>
            <button class="hidden group-hover:block">Sports</button>
        </div>
        <div class="navItems">
            <button>
                <span class="material-symbols-outlined">
                    category
                </span>
            </button>
            <button class="hidden group-hover:block">Categories</button>
        </div>
    </div>
</div>

<!-- <div class="grid  h-screen  w-fit bg-slate-950 p-6">
    <div class="">
        <img src="https://img10.hotstar.com/image/upload/f_auto,q_90,w_2048/v1656431456/web-images/logo-d-plus.svg"
            alt="" class="w-14" />
    </div>
    <div class="navItem flex group">
        <div class="icon flex flex-col gap-8 text-white">
            <button class="self-center"><img
                    src="https://img1.hotstarext.com/image/upload/w_200,h_200,c_fill/feature/profile/3.png"
                    class="h-6 w-6" alt="" /></button>
            <button>
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
            <button> <span class="material-symbols-outlined">
                    home
                </span></button>
            <button> <span class="material-symbols-outlined">
                    tv
                </span></button>
            <button> <span class="material-symbols-outlined">
                    movie
                </span></button>
            <button> <span class="material-symbols-outlined">
                    sports_baseball
                </span></button>
            <button> <span class="material-symbols-outlined">
                    category
                </span></button>
        </div>
        <div class="label flex flex-col items-start gap-8 text-white pl-4  hidden group-hover:block">
            <button (click)="click()">My Space</button>
            <button>Search</button>
            <button>Home</button>
            <button>TV</button>
            <button>Movies</button>
            <button>Sports</button>
            <button>Categories</button>
        </div>
    </div>
</div> -->